

html{
    font-size: 10px;
    font-family: 'Open sans''sans-serif';

}
.tituloproyecto{
 color: blueviolet;


}

.beneficios{
    color: red;
    font: size 35px;
    font-family: fantasy;
    
    

}
h1{
     font-size:60x ;
     text-align: center;
     
    
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    
   
}

html{
    background-color: rgb(182, 72, 168);
}

Td img{
    width: 330px;
}

.imagen1
{
    width: 330px;
}
body{
    width:800px;
    margin: 0 auto; 
    background-color: rgb(255, 255, 255);
    padding:0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    margin: 0;
    padding:20px 0;
    color: #5b0aff;
    text-shadow: 7px 7px 5px black;
}

img{
    display:block;
    margin: 0 auto;
}

ul{
    color: blue;



}